<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>011CF4F71D8D99FA001E5027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011CF50B1D8D99FB001E5027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>011CF5161D8D99FB001E5027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
